<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.UserMapper">

	<!-- 회원가입 -->
	<insert id="register">
		insert into tbl_user(id, email, password, name)
		values(#{id}, #{email}, #{password}, #{name})
	</insert>
	
	<!-- 로그인 -->
	<select id="login" resultType="org.zerock.domain.UserVO">
		select name
		from tbl_user
		where id = #{id} and password = #{password}
	</select>
</mapper>